:root {
    /*  Pass color  */
    --first: #3683f6;
    /*  strip colors */
    --stripone:#35cd89;
    --striptwo: #a38d90;
    --stripthree: #c5aae8;
}

/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/* Light Thulian Pink #f6c7cf  */
