:root {
    /*  Pass color  */
    --first: #9e9e9e;
    /*  strip colors */
    --stripone: #a1445f;
    --striptwo: #a0b84a;
    --stripthree: #87bce6;
}

/* grayish-green #61ae63  */
/* light purple #c488c4  */
/* purple #bb89bd */
/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
/* red #f65d5d */
