:root {
    /*  Pass color  */
    --first: #3988ff;
    /*  strip colors */
    --stripone: #3dc3ce;
    --striptwo: #8c5984;
    --stripthree: #f3b68a;
}

/* grayish-green #61ae63  */
/* light purple #c488c4  */
/* purple #bb89bd */
/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
/* red #f65d5d */
