:root {
    /*  Pass color  */
    --first: #f65d5d;
    /*  strip colors */
    --stripone: #7d7889;
    --striptwo: #447ebf;
    --stripthree: #ef47ee;
}

/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
